:root {

    --body-font-family:             'Open Sans', sans-serif;

  }
  


  .booking-form{
    width:auto;
}


/* #appointmentBooking{
    margin-top:-600px;
} */


/* .container-fluid{
    margin-bottom: 120px;
    margin-top: -50px;
    margin-left: 30px;
} */




.booking-form .form-control {
    background: transparent;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid black;
    color: #6c757d;
    font-weight: var(--font-weight-normal);
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 15px;
    transition: all 0.3s;
  }
  
  .booking-form #submit-button {
    background: black;
    border-bottom: 0;
    font-weight: var(--font-weight-semibold);
    color: white;
    text-transform: uppercase;
    margin-top: 35px;
  }
  
  .booking-form #submit-button:hover {
    background: var(--primary-color);
  }






body{
     background: rgb(79,169,195);
    background: linear-gradient(153deg, rgba(79,169,195,1) 0%, rgba(150,222,211,1) 100%);;
    font-family: var(--body-font-family);    
    position: relative;
    padding-top: 94px;
}