#title {
    text-align: center;
    font-size: 30px;
    margin: 20px;
}

.title-top {
    display: flex;
}

.title-top img {
    margin-left: 50px;
    margin-top: 29px;
    width: 30px;
    height: 20px;
}

.title-top h1 {
    text-align: center;
}

.title-head{
    width: 90%;
}