
body {
    background-color: #80d9f4;: rgb(79, 169, 195);
    background-color: linear-gradient(153deg, rgba(79, 169, 195, 1) 0%, rgba(150, 222, 211, 1) 100%);
}


h1 {
    text-align: center;
    margin-top: 30px;
}

.serch-bar {
    position: absolute;
    top: 30px;
    right: 40px;

}

.form-control {
    width: 300px;
    height: 40px;
    font-size: 16px;
    padding: 10px;
}

.btn-serch serch-bar {
    height: 40px;
    font-size: 16px;
    padding: 10px 20px;
}


.gap {
    width: 20px;
}

/* 4bigbuttons */

.big-button {
    background-color: lightblue;
    transition: background-color 1s;
    margin: 10px 150px 20px 150px;
    width: 100%;
    height: 250px;
    padding: 10px;
    display: flex;
}


.big-button:hover {
    background-color: cornflowerblue;
    transition: background-color 1s;
}

.centerbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


a {
    text-decoration: none;
    margin-bottom: 150px;
}

.text-container {
    position: absolute;
    font-size: 30px;
    text-align: center;
    color: darkblue;
    margin-right: auto;
}


.image-container {
    text-align: right;
    margin-left: auto;
}


.images {
    width: 260px;
    height: 200px;
    background-color: red;
}


/* smallbutton */
.button-place-an-appointment {
    align-items: center;
    background-color: #06f;
    border: 2px solid #06f;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-place-an-appointment:focus {
    color: #171e29;
}

.button-place-an-appointment:hover {
    background-color: #3385ff;
    border-color: #3385ff;
    fill: #06f;
}

.button-place-an-appointment:active {
    background-color: #3385ff;
    border-color: #3385ff;
    fill: #06f;
}

.button-place-an-appointment {
    position: absolute;
    bottom: 20px;
    right: 10px;

}

