<html>
<head>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Methods Selection</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/account_type.css') }}" rel="stylesheet">

</head>

<body>
<h1>Please Select Your Account Type</h1>
<div class="leftside">
    <a href="{{ url_for('routes.signup') }}">
        <div class="labelexpanded">
            <div class="radio-btns">
<!--                <a href="{{ url_for('routes.signup') }}">-->
                    <img src="user-ninja.png"/>
<!--                </a>-->
                <p> Patient </p>
            </div>
        </div>
    </a>

    <a href="{{ url_for('views.signup_pharmacist') }}">
        <label class="labelexpanded">
            <div class="radio-btns"><img src="user-astronaut.png">
                <p> Pharmacy </p></div>
        </label>
    </a>

    <a href="{{ url_for('views.signup_doctor') }}">
        <label class="labelexpanded">
            <div class="radio-btns"><img src="Doctoricon.png"/>
                <p> Doctor </p></div>
        </label>
    </a>


</div>
</body>

</html>