<html>
<head>
	
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Methods Selection</title>
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link href="AccountType.css" rel="stylesheet">

</head>

<body>
	<h1>Please Select Your Account Type</h1>
	<div class="leftside">
		<label class="labelexpanded">
			<input type="radio" name="accounttype"> 
				<div class="radio-btns"> 
					<img src="user-ninja.png"/>
					<p> Patient </p> 
				</div>
			</input>
		</label>
	
		

		<label class="labelexpanded"> 
			<input type="radio" name="accounttype"> <div class="radio-btns"> <img src="user-astronaut.png"> <p> Pharmacy </p> </div>
		</label>
		
		<label class="labelexpanded">
			<input type="radio" name="accounttype"> <div class="radio-btns"> <img src="Doctoricon.png"> <p> Doctor </p> </div>
		</label>
		
		
	</div>
</body>
	
</html>