<!DOCTYPE html>
<html>
<head>
    <title>My Card</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chatUi.css') }}">
</head>
<body>
<table>
    <tr>
        <td>
            <div class="elfsight-app-9e7be276-abd2-4fc2-830b-422c4f9d637e"></div>
        </td>
        <td>
            <div class="elfsight-app-513b1dd3-8682-422e-a6c9-f7fc92cab874"></div>
        </td>
    </tr>
</table>
<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<!-- <script src="https://apps.elfsight.com/p/platform.js" defer></script> -->
<script src="https://apps.elfsight.com/p/platform.js" defer></script>

</body>
</html>
