<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Profile</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/doctor_profile.css') }}">
</head>
<body style="background-color: #bee0ec;">
<div class="logocaption"><h2>Dr. David Warner</h2></div>
<div class="caption text-left">Oncologist</div>
<h1>Doctor Profile</h1>
<div>
    <form action="{{ url_for('routes.logout') }}" method="post">
        <button type="submit">Logout</button>
    </form>
    <img src="{{ url_for('static', filename='images/profile_image.jpg') }}" class="profile-photo" alt="Doctor profile">
</div>

<div class="time">
    <h4>Patient time: 8AM -10PM</h4>
</div>

<div class="wrapper">
    <div class="wrapper">
        <input type="radio" name="rate" id="rate1">
        <label for="rate1"></label>
        <input type="radio" name="rate" id="rate2">
        <label for="rate2"></label>
        <input type="radio" name="rate" id="rate3">
        <label for="rate3"></label>
        <input type="radio" name="rate" id="rate4">
        <label for="rate4"></label>
        <input type="radio" name="rate" id="rate5">
        <label for="rate5"></label>
    </div>
</div>

<div id="icon-row-box" class="container centerbox">
    <div class="icon-row">
        <a href="https://www.example.com">
            <img class="icons" src="{{ url_for('static', filename='images/tele.png') }}" alt="contact">
        </a>
        <a href="https://www.example.com">
            <img class="icons" src="{{ url_for('static', filename='images/msg.png') }}" alt="message">
        </a>

    </div>
</div>
<div class="outer">
    <div class="card">
        <img src="{{ url_for('static', filename='images/patient.jpg') }}" class="card-img-top"
             alt="Successful patients"/>
        <div class="card-body">
            <h1 class="card-title">500+</h1>
            <p class="card-title">Successful patients</p>
        </div>
    </div>
    &nbsp;
    <div class="card">
        <img src="{{ url_for('static', filename='images/patient2.png') }}" class="card-img-top"
             alt="Today's Appointments"/>
        <div class="card-body">
            <h1 class="card-title">49</h1>
            <p class="card-title">Today's Appointments</p>
        </div>
    </div>

</div>
</body>
</html>