<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/inventory.css') }}">

<h1 id="title">Inventory</h1>
        <hr>

<form>
    <div class="mb-3">
      <label for="InputProduct" class="form-label">Product</label>
      <input type="text" class="form-control" id="InputProduct" aria-describedby="productHelp">
    </div>
    <div class="mb-3">
      <label for="InputBrand" class="form-label">Brand</label>
      <input type="text" class="form-control" id="InputBrand">
    </div>
    <div class="mb-3">
        <label for="InputQuantity" class="form-label">Quantity</label>
        <input type="number" class="form-control" id="InputQuantity">
      </div>
      <div class="mb-3">
        <label for="InputPrice" class="form-label">Price</label>
        <input type="number" class="form-control" id="InputPrice">
      </div>
    <button type="submit" class="btn btn-primary" id="btn-submit">Submit</button>
  </form>