<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_10a2050c146f08ad49e7a2cb28a42886 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_10a2050c146f08ad49e7a2cb28a42886" ></div>
        
</body>
<script>
    
    
            var map_10a2050c146f08ad49e7a2cb28a42886 = L.map(
                "map_10a2050c146f08ad49e7a2cb28a42886",
                {
                    center: [6.905319148115447, 79.86877156795114],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_267e7e88a337020c66366a2ab838689e = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_10a2050c146f08ad49e7a2cb28a42886);
        
    
            var marker_4613d6855f937aef2cee3697cd176038 = L.marker(
                [6.893857311, 79.87417282],
                {}
            ).addTo(map_10a2050c146f08ad49e7a2cb28a42886);
        
    
            var icon_ae4221088e884e7424549730ec21f23c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_4613d6855f937aef2cee3697cd176038.setIcon(icon_ae4221088e884e7424549730ec21f23c);
        
    
        var popup_0635802ac22cc0a93c32f9f3c9502dad = L.popup({"maxWidth": "100%"});

        
            
                var html_192bedd267e1675129545e85ff716dd0 = $(`<div id="html_192bedd267e1675129545e85ff716dd0" style="width: 100.0%; height: 100.0%;"><h1> Pharmacy1</h1><img src='where.jpg' width=400px><p>This is the best pharmacy in colombo</p>  Distance from user : 5.42km</div>`)[0];
                popup_0635802ac22cc0a93c32f9f3c9502dad.setContent(html_192bedd267e1675129545e85ff716dd0);
            
        

        marker_4613d6855f937aef2cee3697cd176038.bindPopup(popup_0635802ac22cc0a93c32f9f3c9502dad)
        ;

        
    
    
            marker_4613d6855f937aef2cee3697cd176038.bindTooltip(
                `<div>
                     Bubu Pharmacy
 Distance from user : 5.42km
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_60da45c9071f925e67453bc4017247dd = L.marker(
                [6.891821916, 79.87817341],
                {}
            ).addTo(map_10a2050c146f08ad49e7a2cb28a42886);
        
    
            var icon_d94603302dafdba2a4ea1e7fa134c6fd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "blue", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_60da45c9071f925e67453bc4017247dd.setIcon(icon_d94603302dafdba2a4ea1e7fa134c6fd);
        
    
        var popup_53c8b94224c7753e4d49f4e7e54d59e4 = L.popup({"maxWidth": "100%"});

        
            
                var html_d51c1f235de8c7eed9aae78133a22154 = $(`<div id="html_d51c1f235de8c7eed9aae78133a22154" style="width: 100.0%; height: 100.0%;"><h1> Pharmacy2</h1><img src='ph2.jpg' width=400px><p>This is the best pharmacy in colombo</p>  Distance from user : 5.85km</div>`)[0];
                popup_53c8b94224c7753e4d49f4e7e54d59e4.setContent(html_d51c1f235de8c7eed9aae78133a22154);
            
        

        marker_60da45c9071f925e67453bc4017247dd.bindPopup(popup_53c8b94224c7753e4d49f4e7e54d59e4)
        ;

        
    
    
            marker_60da45c9071f925e67453bc4017247dd.bindTooltip(
                `<div>
                     Lindon's Pharmacy
 Distance from user : 5.85km
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_875774e680463f8c8736626ebf51d4e6 = L.marker(
                [6.9355, 79.8487],
                {}
            ).addTo(map_10a2050c146f08ad49e7a2cb28a42886);
        
    
            var icon_a3a31af747b1e5cdf1bc3716772368a3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_875774e680463f8c8736626ebf51d4e6.setIcon(icon_a3a31af747b1e5cdf1bc3716772368a3);
        
    
        var popup_3c831597bd3b3be8d3bdeac2ed22d085 = L.popup({"maxWidth": "100%"});

        
            
                var html_46cc78383ed7ce3ca75eedb93cc1d21f = $(`<div id="html_46cc78383ed7ce3ca75eedb93cc1d21f" style="width: 100.0%; height: 100.0%;">User</div>`)[0];
                popup_3c831597bd3b3be8d3bdeac2ed22d085.setContent(html_46cc78383ed7ce3ca75eedb93cc1d21f);
            
        

        marker_875774e680463f8c8736626ebf51d4e6.bindPopup(popup_3c831597bd3b3be8d3bdeac2ed22d085)
        ;

        
    
    
            marker_875774e680463f8c8736626ebf51d4e6.bindTooltip(
                `<div>
                     User
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_8f5cb735ccc3d1c4f9706e989e4d3bc6 = L.circle(
                [6.9355, 79.8487],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2000.0, "stroke": true, "weight": 3}
            ).addTo(map_10a2050c146f08ad49e7a2cb28a42886);
        
    
        var popup_4e5ee19e09f0fa02afe6689037cf2811 = L.popup({"maxWidth": "100%"});

        
            
                var html_85939f22e04773ad8d8197737a0d5d80 = $(`<div id="html_85939f22e04773ad8d8197737a0d5d80" style="width: 100.0%; height: 100.0%;">Love the Area</div>`)[0];
                popup_4e5ee19e09f0fa02afe6689037cf2811.setContent(html_85939f22e04773ad8d8197737a0d5d80);
            
        

        circle_8f5cb735ccc3d1c4f9706e989e4d3bc6.bindPopup(popup_4e5ee19e09f0fa02afe6689037cf2811)
        ;

        
    
</script>
</html>