<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_81c1d916fc5d20e8ca84d3a7b8a2e4f2 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_81c1d916fc5d20e8ca84d3a7b8a2e4f2" ></div>
        
</body>
<script>
    
    
            var map_81c1d916fc5d20e8ca84d3a7b8a2e4f2 = L.map(
                "map_81c1d916fc5d20e8ca84d3a7b8a2e4f2",
                {
                    center: [6.905319148115447, 79.86877156795114],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_54ac2549f56904d5ae4ea6999d15c7d6 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_81c1d916fc5d20e8ca84d3a7b8a2e4f2);
        
    
            var marker_8b6461ec62781cdeb05d98e53db96384 = L.marker(
                [6.893857311, 79.87417282],
                {}
            ).addTo(map_81c1d916fc5d20e8ca84d3a7b8a2e4f2);
        
    
            var icon_bfc178a3596c587f6699228d0925ae0c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_8b6461ec62781cdeb05d98e53db96384.setIcon(icon_bfc178a3596c587f6699228d0925ae0c);
        
    
        var popup_3ea976fd32690f5892d710745c0ce3da = L.popup({"maxWidth": "100%"});

        
            
                var html_1a6203c593dd14a50e8826eee084ed4d = $(`<div id="html_1a6203c593dd14a50e8826eee084ed4d" style="width: 100.0%; height: 100.0%;"><h1> Pharmacy1</h1><img src='where.jpg' width=400px><p>This is the best pharmacy in colombo</p>  Distance from user : 5.42km</div>`)[0];
                popup_3ea976fd32690f5892d710745c0ce3da.setContent(html_1a6203c593dd14a50e8826eee084ed4d);
            
        

        marker_8b6461ec62781cdeb05d98e53db96384.bindPopup(popup_3ea976fd32690f5892d710745c0ce3da)
        ;

        
    
    
            marker_8b6461ec62781cdeb05d98e53db96384.bindTooltip(
                `<div>
                     Bubu Pharmacy
 Distance from user : 5.42km
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_da1df38f058b1a9790eb8f9588d5ea94 = L.marker(
                [6.893857311, 79.87417282],
                {}
            ).addTo(map_81c1d916fc5d20e8ca84d3a7b8a2e4f2);
        
    
            var icon_9f7c08b9923c7694e2a07bed68a5eecc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_da1df38f058b1a9790eb8f9588d5ea94.setIcon(icon_9f7c08b9923c7694e2a07bed68a5eecc);
        
    
        var popup_6dc4c4cabbec3628a3825441275e0ffa = L.popup({"maxWidth": "100%"});

        
            
                var html_a0acd4d20c1b78615de22c071022b922 = $(`<div id="html_a0acd4d20c1b78615de22c071022b922" style="width: 100.0%; height: 100.0%;"><h1> Pharmacy1</h1><img src='where.jpg' width=400px><p>This is the best pharmacy in colombo</p>  Distance from user : 5.42km</div>`)[0];
                popup_6dc4c4cabbec3628a3825441275e0ffa.setContent(html_a0acd4d20c1b78615de22c071022b922);
            
        

        marker_da1df38f058b1a9790eb8f9588d5ea94.bindPopup(popup_6dc4c4cabbec3628a3825441275e0ffa)
        ;

        
    
    
            marker_da1df38f058b1a9790eb8f9588d5ea94.bindTooltip(
                `<div>
                     Bubu Pharmacy
 Distance from user : 5.42km
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f502ae44c711e8ff8f2b4cd57c53dac1 = L.marker(
                [6.891821916, 79.87817341],
                {}
            ).addTo(map_81c1d916fc5d20e8ca84d3a7b8a2e4f2);
        
    
            var icon_916d071c0a5f64abbaa62370334db4a5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "blue", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_f502ae44c711e8ff8f2b4cd57c53dac1.setIcon(icon_916d071c0a5f64abbaa62370334db4a5);
        
    
        var popup_786d360e111d5782ca5d6a3c22abf2c1 = L.popup({"maxWidth": "100%"});

        
            
                var html_fe9ba4ecf2c49dd32ce63ddc85d8293d = $(`<div id="html_fe9ba4ecf2c49dd32ce63ddc85d8293d" style="width: 100.0%; height: 100.0%;"><h1> Pharmacy2</h1><img src='ph2.jpg' width=400px><p>This is the best pharmacy in colombo</p>  Distance from user : 5.85km</div>`)[0];
                popup_786d360e111d5782ca5d6a3c22abf2c1.setContent(html_fe9ba4ecf2c49dd32ce63ddc85d8293d);
            
        

        marker_f502ae44c711e8ff8f2b4cd57c53dac1.bindPopup(popup_786d360e111d5782ca5d6a3c22abf2c1)
        ;

        
    
    
            marker_f502ae44c711e8ff8f2b4cd57c53dac1.bindTooltip(
                `<div>
                     Lindon's Pharmacy
 Distance from user : 5.85km
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_677a9db53b44952b4153417dafbbf6de = L.marker(
                [6.891821916, 79.87817341],
                {}
            ).addTo(map_81c1d916fc5d20e8ca84d3a7b8a2e4f2);
        
    
            var icon_469d78a183a8388192ae7981667ea754 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "blue", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_677a9db53b44952b4153417dafbbf6de.setIcon(icon_469d78a183a8388192ae7981667ea754);
        
    
        var popup_95247877833e47cb51c1efe31eff5924 = L.popup({"maxWidth": "100%"});

        
            
                var html_c18820459efcaeaa1dcd85d1ff709f81 = $(`<div id="html_c18820459efcaeaa1dcd85d1ff709f81" style="width: 100.0%; height: 100.0%;"><h1> Pharmacy2</h1><img src='ph2.jpg' width=400px><p>This is the best pharmacy in colombo</p>  Distance from user : 5.85km</div>`)[0];
                popup_95247877833e47cb51c1efe31eff5924.setContent(html_c18820459efcaeaa1dcd85d1ff709f81);
            
        

        marker_677a9db53b44952b4153417dafbbf6de.bindPopup(popup_95247877833e47cb51c1efe31eff5924)
        ;

        
    
    
            marker_677a9db53b44952b4153417dafbbf6de.bindTooltip(
                `<div>
                     Lindon's Pharmacy
 Distance from user : 5.85km
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6e8b868c1eefa47bfd57a5cd1a25c7c1 = L.marker(
                [6.9355, 79.8487],
                {}
            ).addTo(map_81c1d916fc5d20e8ca84d3a7b8a2e4f2);
        
    
            var icon_adcab8b530ef2b4c0a4c6f3f721ba6c1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_6e8b868c1eefa47bfd57a5cd1a25c7c1.setIcon(icon_adcab8b530ef2b4c0a4c6f3f721ba6c1);
        
    
        var popup_a81cc00cbdbfba3ba41b9962dc56504d = L.popup({"maxWidth": "100%"});

        
            
                var html_245bd96daf2311dcc9d8c4e805d5e48e = $(`<div id="html_245bd96daf2311dcc9d8c4e805d5e48e" style="width: 100.0%; height: 100.0%;">User</div>`)[0];
                popup_a81cc00cbdbfba3ba41b9962dc56504d.setContent(html_245bd96daf2311dcc9d8c4e805d5e48e);
            
        

        marker_6e8b868c1eefa47bfd57a5cd1a25c7c1.bindPopup(popup_a81cc00cbdbfba3ba41b9962dc56504d)
        ;

        
    
    
            marker_6e8b868c1eefa47bfd57a5cd1a25c7c1.bindTooltip(
                `<div>
                     User
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_aaf1649d7f80b5b5e7cb1d442f5596f2 = L.marker(
                [6.9355, 79.8487],
                {}
            ).addTo(map_81c1d916fc5d20e8ca84d3a7b8a2e4f2);
        
    
            var icon_622888a5f9cf41218cb6f3b0c3faf979 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_aaf1649d7f80b5b5e7cb1d442f5596f2.setIcon(icon_622888a5f9cf41218cb6f3b0c3faf979);
        
    
        var popup_ab72a5de05c36d1f451da57ed2635c7a = L.popup({"maxWidth": "100%"});

        
            
                var html_7bb7ed1f141cfcf5146f90448c827a7e = $(`<div id="html_7bb7ed1f141cfcf5146f90448c827a7e" style="width: 100.0%; height: 100.0%;">User</div>`)[0];
                popup_ab72a5de05c36d1f451da57ed2635c7a.setContent(html_7bb7ed1f141cfcf5146f90448c827a7e);
            
        

        marker_aaf1649d7f80b5b5e7cb1d442f5596f2.bindPopup(popup_ab72a5de05c36d1f451da57ed2635c7a)
        ;

        
    
    
            marker_aaf1649d7f80b5b5e7cb1d442f5596f2.bindTooltip(
                `<div>
                     User
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_818c67c7c228e1ef3ebd9a8e84567e4e = L.circle(
                [6.9355, 79.8487],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2000.0, "stroke": true, "weight": 3}
            ).addTo(map_81c1d916fc5d20e8ca84d3a7b8a2e4f2);
        
    
        var popup_957f739b6a70f7934ae489fcdece352b = L.popup({"maxWidth": "100%"});

        
            
                var html_135740532185dde4c2e05f3d8bbf4521 = $(`<div id="html_135740532185dde4c2e05f3d8bbf4521" style="width: 100.0%; height: 100.0%;">Love the Area</div>`)[0];
                popup_957f739b6a70f7934ae489fcdece352b.setContent(html_135740532185dde4c2e05f3d8bbf4521);
            
        

        circle_818c67c7c228e1ef3ebd9a8e84567e4e.bindPopup(popup_957f739b6a70f7934ae489fcdece352b)
        ;

        
    
    
            var circle_1d9a88e3b125b6eadac5a31a14b8dec9 = L.circle(
                [6.9355, 79.8487],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2000.0, "stroke": true, "weight": 3}
            ).addTo(map_81c1d916fc5d20e8ca84d3a7b8a2e4f2);
        
    
        var popup_d507cca2c04e3883ed5fb9cb690ee43f = L.popup({"maxWidth": "100%"});

        
            
                var html_4f2519507294828de74575a5100337d5 = $(`<div id="html_4f2519507294828de74575a5100337d5" style="width: 100.0%; height: 100.0%;">Love the Area</div>`)[0];
                popup_d507cca2c04e3883ed5fb9cb690ee43f.setContent(html_4f2519507294828de74575a5100337d5);
            
        

        circle_1d9a88e3b125b6eadac5a31a14b8dec9.bindPopup(popup_d507cca2c04e3883ed5fb9cb690ee43f)
        ;

        
    
    
            var marker_92bdd928adabc846c4a6f0c2c84e1946 = L.marker(
                [6.893857311, 79.87417282],
                {}
            ).addTo(map_81c1d916fc5d20e8ca84d3a7b8a2e4f2);
        
    
            var icon_52d560cbe86c64b750dd1c8bb8a51a73 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_92bdd928adabc846c4a6f0c2c84e1946.setIcon(icon_52d560cbe86c64b750dd1c8bb8a51a73);
        
    
        var popup_78674001912d1b27929bfdd99ac73698 = L.popup({"maxWidth": "100%"});

        
            
                var html_d9ce5fcb67b57360789da023c57162d2 = $(`<div id="html_d9ce5fcb67b57360789da023c57162d2" style="width: 100.0%; height: 100.0%;"><h1> Pharmacy1</h1><img src='where.jpg' width=400px><p>This is the best pharmacy in colombo</p>  Distance from user : 5.42km</div>`)[0];
                popup_78674001912d1b27929bfdd99ac73698.setContent(html_d9ce5fcb67b57360789da023c57162d2);
            
        

        marker_92bdd928adabc846c4a6f0c2c84e1946.bindPopup(popup_78674001912d1b27929bfdd99ac73698)
        ;

        
    
    
            marker_92bdd928adabc846c4a6f0c2c84e1946.bindTooltip(
                `<div>
                     Bubu Pharmacy
 Distance from user : 5.42km
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_46aeb0422e8ca7bad6ade83cd8fa39ee = L.marker(
                [6.891821916, 79.87817341],
                {}
            ).addTo(map_81c1d916fc5d20e8ca84d3a7b8a2e4f2);
        
    
            var icon_8c25f655fca95df5e455ef3fbd7e15d6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "blue", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_46aeb0422e8ca7bad6ade83cd8fa39ee.setIcon(icon_8c25f655fca95df5e455ef3fbd7e15d6);
        
    
        var popup_17bf79569bdf3556fac9b6954a6e9e9c = L.popup({"maxWidth": "100%"});

        
            
                var html_ad9bd08e78805c856b67b82d17eb642a = $(`<div id="html_ad9bd08e78805c856b67b82d17eb642a" style="width: 100.0%; height: 100.0%;"><h1> Pharmacy2</h1><img src='ph2.jpg' width=400px><p>This is the best pharmacy in colombo</p>  Distance from user : 5.85km</div>`)[0];
                popup_17bf79569bdf3556fac9b6954a6e9e9c.setContent(html_ad9bd08e78805c856b67b82d17eb642a);
            
        

        marker_46aeb0422e8ca7bad6ade83cd8fa39ee.bindPopup(popup_17bf79569bdf3556fac9b6954a6e9e9c)
        ;

        
    
    
            marker_46aeb0422e8ca7bad6ade83cd8fa39ee.bindTooltip(
                `<div>
                     Lindon's Pharmacy
 Distance from user : 5.85km
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e6a73f6490f8164f92153ac3aa3d6720 = L.marker(
                [6.9355, 79.8487],
                {}
            ).addTo(map_81c1d916fc5d20e8ca84d3a7b8a2e4f2);
        
    
            var icon_d5fadc76af8fc74996b9c09bbbca8850 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_e6a73f6490f8164f92153ac3aa3d6720.setIcon(icon_d5fadc76af8fc74996b9c09bbbca8850);
        
    
        var popup_4f61388162556f1aec4b53d22e18047c = L.popup({"maxWidth": "100%"});

        
            
                var html_164a8e7cc146ee6507e6f5317ea93b53 = $(`<div id="html_164a8e7cc146ee6507e6f5317ea93b53" style="width: 100.0%; height: 100.0%;">User</div>`)[0];
                popup_4f61388162556f1aec4b53d22e18047c.setContent(html_164a8e7cc146ee6507e6f5317ea93b53);
            
        

        marker_e6a73f6490f8164f92153ac3aa3d6720.bindPopup(popup_4f61388162556f1aec4b53d22e18047c)
        ;

        
    
    
            marker_e6a73f6490f8164f92153ac3aa3d6720.bindTooltip(
                `<div>
                     User
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1fd4866132d1b4d5c27425b158659b1a = L.marker(
                [6.893857311, 79.87417282],
                {}
            ).addTo(map_81c1d916fc5d20e8ca84d3a7b8a2e4f2);
        
    
            var icon_dbe66dab4d6ba360c6f20d3c853f33c4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_1fd4866132d1b4d5c27425b158659b1a.setIcon(icon_dbe66dab4d6ba360c6f20d3c853f33c4);
        
    
        var popup_7517a6e8b9d34e529da5121d844db186 = L.popup({"maxWidth": "100%"});

        
            
                var html_7c8888d90152a5075b80665deafd1297 = $(`<div id="html_7c8888d90152a5075b80665deafd1297" style="width: 100.0%; height: 100.0%;"><h1> Pharmacy1</h1><img src='where.jpg' width=400px><p>This is the best pharmacy in colombo</p>  Distance from user : 5.42km</div>`)[0];
                popup_7517a6e8b9d34e529da5121d844db186.setContent(html_7c8888d90152a5075b80665deafd1297);
            
        

        marker_1fd4866132d1b4d5c27425b158659b1a.bindPopup(popup_7517a6e8b9d34e529da5121d844db186)
        ;

        
    
    
            marker_1fd4866132d1b4d5c27425b158659b1a.bindTooltip(
                `<div>
                     Bubu Pharmacy
 Distance from user : 5.42km
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_2e5a88838f39490245ae0ea97fe8fc98 = L.circle(
                [6.9355, 79.8487],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2000.0, "stroke": true, "weight": 3}
            ).addTo(map_81c1d916fc5d20e8ca84d3a7b8a2e4f2);
        
    
        var popup_5c9c06d4116a0f186745c4bb9e2c21af = L.popup({"maxWidth": "100%"});

        
            
                var html_c06fbcf9217420d56a62a39defbae701 = $(`<div id="html_c06fbcf9217420d56a62a39defbae701" style="width: 100.0%; height: 100.0%;">Love the Area</div>`)[0];
                popup_5c9c06d4116a0f186745c4bb9e2c21af.setContent(html_c06fbcf9217420d56a62a39defbae701);
            
        

        circle_2e5a88838f39490245ae0ea97fe8fc98.bindPopup(popup_5c9c06d4116a0f186745c4bb9e2c21af)
        ;

        
    
    
            var marker_76807bdcd22a8cea80bf67399f2026a3 = L.marker(
                [6.891821916, 79.87817341],
                {}
            ).addTo(map_81c1d916fc5d20e8ca84d3a7b8a2e4f2);
        
    
            var icon_823cde715691b9122f3d2dbf7f286c03 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "blue", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_76807bdcd22a8cea80bf67399f2026a3.setIcon(icon_823cde715691b9122f3d2dbf7f286c03);
        
    
        var popup_9a8b345932048aecb9b02fceb1697096 = L.popup({"maxWidth": "100%"});

        
            
                var html_06da59463a21bc950b1993867101a574 = $(`<div id="html_06da59463a21bc950b1993867101a574" style="width: 100.0%; height: 100.0%;"><h1> Pharmacy2</h1><img src='ph2.jpg' width=400px><p>This is the best pharmacy in colombo</p>  Distance from user : 5.85km</div>`)[0];
                popup_9a8b345932048aecb9b02fceb1697096.setContent(html_06da59463a21bc950b1993867101a574);
            
        

        marker_76807bdcd22a8cea80bf67399f2026a3.bindPopup(popup_9a8b345932048aecb9b02fceb1697096)
        ;

        
    
    
            marker_76807bdcd22a8cea80bf67399f2026a3.bindTooltip(
                `<div>
                     Lindon's Pharmacy
 Distance from user : 5.85km
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a750cdabb2940a597c17e5b14d0fdfe2 = L.marker(
                [6.9355, 79.8487],
                {}
            ).addTo(map_81c1d916fc5d20e8ca84d3a7b8a2e4f2);
        
    
            var icon_a0e4477e6664860bc05329a61affa206 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_a750cdabb2940a597c17e5b14d0fdfe2.setIcon(icon_a0e4477e6664860bc05329a61affa206);
        
    
        var popup_432ee89781d0f6c549ffeda6f75a6498 = L.popup({"maxWidth": "100%"});

        
            
                var html_aadedc2913b2081fe4240164f3224a8d = $(`<div id="html_aadedc2913b2081fe4240164f3224a8d" style="width: 100.0%; height: 100.0%;">User</div>`)[0];
                popup_432ee89781d0f6c549ffeda6f75a6498.setContent(html_aadedc2913b2081fe4240164f3224a8d);
            
        

        marker_a750cdabb2940a597c17e5b14d0fdfe2.bindPopup(popup_432ee89781d0f6c549ffeda6f75a6498)
        ;

        
    
    
            marker_a750cdabb2940a597c17e5b14d0fdfe2.bindTooltip(
                `<div>
                     User
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_42691edf839e582ac9a54e260a19cd90 = L.marker(
                [6.893857311, 79.87417282],
                {}
            ).addTo(map_81c1d916fc5d20e8ca84d3a7b8a2e4f2);
        
    
            var icon_de79961a93482ebdde9c6d5a08899898 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_42691edf839e582ac9a54e260a19cd90.setIcon(icon_de79961a93482ebdde9c6d5a08899898);
        
    
        var popup_bd82519f35fdf61a8632079f1e090708 = L.popup({"maxWidth": "100%"});

        
            
                var html_81194f361189b5a53453f9ad0af7d16a = $(`<div id="html_81194f361189b5a53453f9ad0af7d16a" style="width: 100.0%; height: 100.0%;"><h1> Pharmacy1</h1><img src='where.jpg' width=400px><p>This is the best pharmacy in colombo</p>  Distance from user : 5.42km</div>`)[0];
                popup_bd82519f35fdf61a8632079f1e090708.setContent(html_81194f361189b5a53453f9ad0af7d16a);
            
        

        marker_42691edf839e582ac9a54e260a19cd90.bindPopup(popup_bd82519f35fdf61a8632079f1e090708)
        ;

        
    
    
            marker_42691edf839e582ac9a54e260a19cd90.bindTooltip(
                `<div>
                     Bubu Pharmacy
 Distance from user : 5.42km
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_7e1b8374e122825d80d4dc89d9e68c3d = L.circle(
                [6.9355, 79.8487],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2000.0, "stroke": true, "weight": 3}
            ).addTo(map_81c1d916fc5d20e8ca84d3a7b8a2e4f2);
        
    
        var popup_55376d82ea792ee793834067fe88e084 = L.popup({"maxWidth": "100%"});

        
            
                var html_f8fa3061df0a8788708574ea55766236 = $(`<div id="html_f8fa3061df0a8788708574ea55766236" style="width: 100.0%; height: 100.0%;">Love the Area</div>`)[0];
                popup_55376d82ea792ee793834067fe88e084.setContent(html_f8fa3061df0a8788708574ea55766236);
            
        

        circle_7e1b8374e122825d80d4dc89d9e68c3d.bindPopup(popup_55376d82ea792ee793834067fe88e084)
        ;

        
    
    
            var marker_c8ce42e7887c3ad2d8a50ddea4bd29a0 = L.marker(
                [6.891821916, 79.87817341],
                {}
            ).addTo(map_81c1d916fc5d20e8ca84d3a7b8a2e4f2);
        
    
            var icon_5b6328d9aa45394fd2d44fc9ea7a6a16 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "blue", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_c8ce42e7887c3ad2d8a50ddea4bd29a0.setIcon(icon_5b6328d9aa45394fd2d44fc9ea7a6a16);
        
    
        var popup_9e2169497ec5814f1cca3ba5a44f25c1 = L.popup({"maxWidth": "100%"});

        
            
                var html_7cca541d9d743a5ffaf252420191d12e = $(`<div id="html_7cca541d9d743a5ffaf252420191d12e" style="width: 100.0%; height: 100.0%;"><h1> Pharmacy2</h1><img src='ph2.jpg' width=400px><p>This is the best pharmacy in colombo</p>  Distance from user : 5.85km</div>`)[0];
                popup_9e2169497ec5814f1cca3ba5a44f25c1.setContent(html_7cca541d9d743a5ffaf252420191d12e);
            
        

        marker_c8ce42e7887c3ad2d8a50ddea4bd29a0.bindPopup(popup_9e2169497ec5814f1cca3ba5a44f25c1)
        ;

        
    
    
            marker_c8ce42e7887c3ad2d8a50ddea4bd29a0.bindTooltip(
                `<div>
                     Lindon's Pharmacy
 Distance from user : 5.85km
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_df34a8f8c8a19a810c2dea8564fb85d2 = L.marker(
                [6.893857311, 79.87417282],
                {}
            ).addTo(map_81c1d916fc5d20e8ca84d3a7b8a2e4f2);
        
    
            var icon_c34f7ea66a938ebf2fd813aaa6b7606e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_df34a8f8c8a19a810c2dea8564fb85d2.setIcon(icon_c34f7ea66a938ebf2fd813aaa6b7606e);
        
    
        var popup_c5fa1c1e392b561ed501a95563e625f2 = L.popup({"maxWidth": "100%"});

        
            
                var html_f1f79509f80e884a0ff8c09ebec0c5fb = $(`<div id="html_f1f79509f80e884a0ff8c09ebec0c5fb" style="width: 100.0%; height: 100.0%;"><h1> Pharmacy1</h1><img src='where.jpg' width=400px><p>This is the best pharmacy in colombo</p>  Distance from user : 5.42km</div>`)[0];
                popup_c5fa1c1e392b561ed501a95563e625f2.setContent(html_f1f79509f80e884a0ff8c09ebec0c5fb);
            
        

        marker_df34a8f8c8a19a810c2dea8564fb85d2.bindPopup(popup_c5fa1c1e392b561ed501a95563e625f2)
        ;

        
    
    
            marker_df34a8f8c8a19a810c2dea8564fb85d2.bindTooltip(
                `<div>
                     Bubu Pharmacy
 Distance from user : 5.42km
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bcd721680c940d7596abd4452a54f03a = L.marker(
                [6.9355, 79.8487],
                {}
            ).addTo(map_81c1d916fc5d20e8ca84d3a7b8a2e4f2);
        
    
            var icon_efe7af7d5e389955c1d4b0c78f36832c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_bcd721680c940d7596abd4452a54f03a.setIcon(icon_efe7af7d5e389955c1d4b0c78f36832c);
        
    
        var popup_6c26c681a4e4160a860507509495ec3a = L.popup({"maxWidth": "100%"});

        
            
                var html_76e7da2b78dd61d65cdf0cde72597bd4 = $(`<div id="html_76e7da2b78dd61d65cdf0cde72597bd4" style="width: 100.0%; height: 100.0%;">User</div>`)[0];
                popup_6c26c681a4e4160a860507509495ec3a.setContent(html_76e7da2b78dd61d65cdf0cde72597bd4);
            
        

        marker_bcd721680c940d7596abd4452a54f03a.bindPopup(popup_6c26c681a4e4160a860507509495ec3a)
        ;

        
    
    
            marker_bcd721680c940d7596abd4452a54f03a.bindTooltip(
                `<div>
                     User
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_14ee094b506cfca585da2cfc94de7985 = L.circle(
                [6.9355, 79.8487],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2000.0, "stroke": true, "weight": 3}
            ).addTo(map_81c1d916fc5d20e8ca84d3a7b8a2e4f2);
        
    
        var popup_5b6fc09571f41c3eea341a83047762b1 = L.popup({"maxWidth": "100%"});

        
            
                var html_00ac425ea8b367ea02744a987e821ee4 = $(`<div id="html_00ac425ea8b367ea02744a987e821ee4" style="width: 100.0%; height: 100.0%;">Love the Area</div>`)[0];
                popup_5b6fc09571f41c3eea341a83047762b1.setContent(html_00ac425ea8b367ea02744a987e821ee4);
            
        

        circle_14ee094b506cfca585da2cfc94de7985.bindPopup(popup_5b6fc09571f41c3eea341a83047762b1)
        ;

        
    
</script>
</html>