<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_9f4ac9b77ac95505540acdff1c162a8b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_9f4ac9b77ac95505540acdff1c162a8b" ></div>
        
</body>
<script>
    
    
            var map_9f4ac9b77ac95505540acdff1c162a8b = L.map(
                "map_9f4ac9b77ac95505540acdff1c162a8b",
                {
                    center: [6.905319148115447, 79.86877156795114],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_8f085cf0be5baa9cf4ecf4625f59c8e7 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_9f4ac9b77ac95505540acdff1c162a8b);
        
    
            var marker_fff6b9b9c6a96813752166a4df05462f = L.marker(
                [6.893857311, 79.87417282],
                {}
            ).addTo(map_9f4ac9b77ac95505540acdff1c162a8b);
        
    
            var icon_4ec3a33814187bf3bfaa696b9c02845a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_fff6b9b9c6a96813752166a4df05462f.setIcon(icon_4ec3a33814187bf3bfaa696b9c02845a);
        
    
        var popup_b059d47eeb4a7f780dc5a7af2a5351ce = L.popup({"maxWidth": "100%"});

        
            
                var html_5b461779273279285a788a1819d91a7e = $(`<div id="html_5b461779273279285a788a1819d91a7e" style="width: 100.0%; height: 100.0%;"><h1> Pharmacy1</h1><img src='where.jpg' width=400px><p>This is the best pharmacy in colombo</p>  Distance from user : 5.42km</div>`)[0];
                popup_b059d47eeb4a7f780dc5a7af2a5351ce.setContent(html_5b461779273279285a788a1819d91a7e);
            
        

        marker_fff6b9b9c6a96813752166a4df05462f.bindPopup(popup_b059d47eeb4a7f780dc5a7af2a5351ce)
        ;

        
    
    
            marker_fff6b9b9c6a96813752166a4df05462f.bindTooltip(
                `<div>
                     Bubu Pharmacy
 Distance from user : 5.42km
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7f8ec2f793b2ff22765a4cffcd90b813 = L.marker(
                [6.891821916, 79.87817341],
                {}
            ).addTo(map_9f4ac9b77ac95505540acdff1c162a8b);
        
    
            var icon_874c19ab6ef72f6d6f7ea2d1b1ee6c3a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "blue", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_7f8ec2f793b2ff22765a4cffcd90b813.setIcon(icon_874c19ab6ef72f6d6f7ea2d1b1ee6c3a);
        
    
        var popup_c31ae920acf0924ddcdd3bc6c8319124 = L.popup({"maxWidth": "100%"});

        
            
                var html_fdac75ca208b2c2aa312c87b07252f2f = $(`<div id="html_fdac75ca208b2c2aa312c87b07252f2f" style="width: 100.0%; height: 100.0%;"><h1> Pharmacy2</h1><img src='ph2.jpg' width=400px><p>This is the best pharmacy in colombo</p>  Distance from user : 5.85km</div>`)[0];
                popup_c31ae920acf0924ddcdd3bc6c8319124.setContent(html_fdac75ca208b2c2aa312c87b07252f2f);
            
        

        marker_7f8ec2f793b2ff22765a4cffcd90b813.bindPopup(popup_c31ae920acf0924ddcdd3bc6c8319124)
        ;

        
    
    
            marker_7f8ec2f793b2ff22765a4cffcd90b813.bindTooltip(
                `<div>
                     Lindon's Pharmacy
 Distance from user : 5.85km
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_dd9ad2b7f2f43b28931818042dbf8488 = L.marker(
                [6.9355, 79.8487],
                {}
            ).addTo(map_9f4ac9b77ac95505540acdff1c162a8b);
        
    
            var icon_715a95582726c78b48d40d9c2ecc036e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_dd9ad2b7f2f43b28931818042dbf8488.setIcon(icon_715a95582726c78b48d40d9c2ecc036e);
        
    
        var popup_a457b889de3617f757ea12289a9ec8cf = L.popup({"maxWidth": "100%"});

        
            
                var html_e192950468f0edb5572fe4af858cd0d9 = $(`<div id="html_e192950468f0edb5572fe4af858cd0d9" style="width: 100.0%; height: 100.0%;">User</div>`)[0];
                popup_a457b889de3617f757ea12289a9ec8cf.setContent(html_e192950468f0edb5572fe4af858cd0d9);
            
        

        marker_dd9ad2b7f2f43b28931818042dbf8488.bindPopup(popup_a457b889de3617f757ea12289a9ec8cf)
        ;

        
    
    
            marker_dd9ad2b7f2f43b28931818042dbf8488.bindTooltip(
                `<div>
                     User
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_d3aeccdffbeb95224849d135cc4d93aa = L.circle(
                [6.9355, 79.8487],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2000.0, "stroke": true, "weight": 3}
            ).addTo(map_9f4ac9b77ac95505540acdff1c162a8b);
        
    
        var popup_5910eb994cc8adb4cb6a3d9fc0f2bc10 = L.popup({"maxWidth": "100%"});

        
            
                var html_d94e294afef6bbf4cf58be407cc5e50e = $(`<div id="html_d94e294afef6bbf4cf58be407cc5e50e" style="width: 100.0%; height: 100.0%;">Love the Area</div>`)[0];
                popup_5910eb994cc8adb4cb6a3d9fc0f2bc10.setContent(html_d94e294afef6bbf4cf58be407cc5e50e);
            
        

        circle_d3aeccdffbeb95224849d135cc4d93aa.bindPopup(popup_5910eb994cc8adb4cb6a3d9fc0f2bc10)
        ;

        
    
    
            var marker_65bd4d49413902cccbf8b1a8c434b2d2 = L.marker(
                [6.893857311, 79.87417282],
                {}
            ).addTo(map_9f4ac9b77ac95505540acdff1c162a8b);
        
    
            var icon_e77ed29aa7ed20c23d5a136fb05868bb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_65bd4d49413902cccbf8b1a8c434b2d2.setIcon(icon_e77ed29aa7ed20c23d5a136fb05868bb);
        
    
        var popup_bf1e32561f6f3af7e0b24d64cd333e1b = L.popup({"maxWidth": "100%"});

        
            
                var html_b92ce99eab05667b26c4b1daf3f69409 = $(`<div id="html_b92ce99eab05667b26c4b1daf3f69409" style="width: 100.0%; height: 100.0%;"><h1> Pharmacy1</h1><img src='where.jpg' width=400px><p>This is the best pharmacy in colombo</p>  Distance from user : 5.42km</div>`)[0];
                popup_bf1e32561f6f3af7e0b24d64cd333e1b.setContent(html_b92ce99eab05667b26c4b1daf3f69409);
            
        

        marker_65bd4d49413902cccbf8b1a8c434b2d2.bindPopup(popup_bf1e32561f6f3af7e0b24d64cd333e1b)
        ;

        
    
    
            marker_65bd4d49413902cccbf8b1a8c434b2d2.bindTooltip(
                `<div>
                     Bubu Pharmacy
 Distance from user : 5.42km
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1692f5b6f16ea6e83c3ff0942f97c329 = L.marker(
                [6.891821916, 79.87817341],
                {}
            ).addTo(map_9f4ac9b77ac95505540acdff1c162a8b);
        
    
            var icon_d9a749974072cdc659c802625963893f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "blue", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_1692f5b6f16ea6e83c3ff0942f97c329.setIcon(icon_d9a749974072cdc659c802625963893f);
        
    
        var popup_76ea18f72645f5803342f75f836d8257 = L.popup({"maxWidth": "100%"});

        
            
                var html_92c703bf4228a08a526728652cf5fa1d = $(`<div id="html_92c703bf4228a08a526728652cf5fa1d" style="width: 100.0%; height: 100.0%;"><h1> Pharmacy2</h1><img src='ph2.jpg' width=400px><p>This is the best pharmacy in colombo</p>  Distance from user : 5.85km</div>`)[0];
                popup_76ea18f72645f5803342f75f836d8257.setContent(html_92c703bf4228a08a526728652cf5fa1d);
            
        

        marker_1692f5b6f16ea6e83c3ff0942f97c329.bindPopup(popup_76ea18f72645f5803342f75f836d8257)
        ;

        
    
    
            marker_1692f5b6f16ea6e83c3ff0942f97c329.bindTooltip(
                `<div>
                     Lindon's Pharmacy
 Distance from user : 5.85km
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9f9d348dcb30fad7dd5c4a50dae105da = L.marker(
                [6.9355, 79.8487],
                {}
            ).addTo(map_9f4ac9b77ac95505540acdff1c162a8b);
        
    
            var icon_ef5e50a14fe49b807cf60dc580763e07 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_9f9d348dcb30fad7dd5c4a50dae105da.setIcon(icon_ef5e50a14fe49b807cf60dc580763e07);
        
    
        var popup_cce12a5936bfb234f69217742974a3c4 = L.popup({"maxWidth": "100%"});

        
            
                var html_7696f7ea2234a5e1db203517be106d73 = $(`<div id="html_7696f7ea2234a5e1db203517be106d73" style="width: 100.0%; height: 100.0%;">User</div>`)[0];
                popup_cce12a5936bfb234f69217742974a3c4.setContent(html_7696f7ea2234a5e1db203517be106d73);
            
        

        marker_9f9d348dcb30fad7dd5c4a50dae105da.bindPopup(popup_cce12a5936bfb234f69217742974a3c4)
        ;

        
    
    
            marker_9f9d348dcb30fad7dd5c4a50dae105da.bindTooltip(
                `<div>
                     User
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_7f62faf2802d618ec636178e0522dec1 = L.circle(
                [6.9355, 79.8487],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2000.0, "stroke": true, "weight": 3}
            ).addTo(map_9f4ac9b77ac95505540acdff1c162a8b);
        
    
        var popup_2fd9de627b814db410dd7480fba662dc = L.popup({"maxWidth": "100%"});

        
            
                var html_11e5b7c7f2597d5cb0d3cccdea7ebaa1 = $(`<div id="html_11e5b7c7f2597d5cb0d3cccdea7ebaa1" style="width: 100.0%; height: 100.0%;">Love the Area</div>`)[0];
                popup_2fd9de627b814db410dd7480fba662dc.setContent(html_11e5b7c7f2597d5cb0d3cccdea7ebaa1);
            
        

        circle_7f62faf2802d618ec636178e0522dec1.bindPopup(popup_2fd9de627b814db410dd7480fba662dc)
        ;

        
    
    
            var marker_4f47b49a8d51712c54b8361abb7bf98d = L.marker(
                [6.893857311, 79.87417282],
                {}
            ).addTo(map_9f4ac9b77ac95505540acdff1c162a8b);
        
    
            var icon_4c102f6983c0009a8e06b325cbeb5a59 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_4f47b49a8d51712c54b8361abb7bf98d.setIcon(icon_4c102f6983c0009a8e06b325cbeb5a59);
        
    
        var popup_3e1a61578e8cabca0eb605a6d9d8cce6 = L.popup({"maxWidth": "100%"});

        
            
                var html_8d14abe03ca5b67e1cf521e1bdb9ea99 = $(`<div id="html_8d14abe03ca5b67e1cf521e1bdb9ea99" style="width: 100.0%; height: 100.0%;"><h1> Pharmacy1</h1><img src='where.jpg' width=400px><p>This is the best pharmacy in colombo</p>  Distance from user : 5.42km</div>`)[0];
                popup_3e1a61578e8cabca0eb605a6d9d8cce6.setContent(html_8d14abe03ca5b67e1cf521e1bdb9ea99);
            
        

        marker_4f47b49a8d51712c54b8361abb7bf98d.bindPopup(popup_3e1a61578e8cabca0eb605a6d9d8cce6)
        ;

        
    
    
            marker_4f47b49a8d51712c54b8361abb7bf98d.bindTooltip(
                `<div>
                     Bubu Pharmacy
 Distance from user : 5.42km
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_892cd4f96a4428105780f628b9e325fc = L.marker(
                [6.891821916, 79.87817341],
                {}
            ).addTo(map_9f4ac9b77ac95505540acdff1c162a8b);
        
    
            var icon_7cf866b6b62b93142eb7c042716484ec = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "blue", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_892cd4f96a4428105780f628b9e325fc.setIcon(icon_7cf866b6b62b93142eb7c042716484ec);
        
    
        var popup_2090e6edb8d0dd662f93b224db2f935f = L.popup({"maxWidth": "100%"});

        
            
                var html_7add0492831dde8dcc0b953a32f69971 = $(`<div id="html_7add0492831dde8dcc0b953a32f69971" style="width: 100.0%; height: 100.0%;"><h1> Pharmacy2</h1><img src='ph2.jpg' width=400px><p>This is the best pharmacy in colombo</p>  Distance from user : 5.85km</div>`)[0];
                popup_2090e6edb8d0dd662f93b224db2f935f.setContent(html_7add0492831dde8dcc0b953a32f69971);
            
        

        marker_892cd4f96a4428105780f628b9e325fc.bindPopup(popup_2090e6edb8d0dd662f93b224db2f935f)
        ;

        
    
    
            marker_892cd4f96a4428105780f628b9e325fc.bindTooltip(
                `<div>
                     Lindon's Pharmacy
 Distance from user : 5.85km
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8670bc8501b0eaa4b84572cd2a63ce25 = L.marker(
                [6.9355, 79.8487],
                {}
            ).addTo(map_9f4ac9b77ac95505540acdff1c162a8b);
        
    
            var icon_5be97e1b7abc82eb839da160aa455824 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "heart", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_8670bc8501b0eaa4b84572cd2a63ce25.setIcon(icon_5be97e1b7abc82eb839da160aa455824);
        
    
        var popup_ac188907abe4cd251b25190ffb4f7d64 = L.popup({"maxWidth": "100%"});

        
            
                var html_26e577581291bd4075b739f1a0adbfdb = $(`<div id="html_26e577581291bd4075b739f1a0adbfdb" style="width: 100.0%; height: 100.0%;">User</div>`)[0];
                popup_ac188907abe4cd251b25190ffb4f7d64.setContent(html_26e577581291bd4075b739f1a0adbfdb);
            
        

        marker_8670bc8501b0eaa4b84572cd2a63ce25.bindPopup(popup_ac188907abe4cd251b25190ffb4f7d64)
        ;

        
    
    
            marker_8670bc8501b0eaa4b84572cd2a63ce25.bindTooltip(
                `<div>
                     User
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_f907bdb176b820818b7be1860b1176d1 = L.circle(
                [6.9355, 79.8487],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2000.0, "stroke": true, "weight": 3}
            ).addTo(map_9f4ac9b77ac95505540acdff1c162a8b);
        
    
        var popup_02f375cda54f75205afb8f505e2700b4 = L.popup({"maxWidth": "100%"});

        
            
                var html_7658795b3d9accebd4e71d490b0bfc4f = $(`<div id="html_7658795b3d9accebd4e71d490b0bfc4f" style="width: 100.0%; height: 100.0%;">Love the Area</div>`)[0];
                popup_02f375cda54f75205afb8f505e2700b4.setContent(html_7658795b3d9accebd4e71d490b0bfc4f);
            
        

        circle_f907bdb176b820818b7be1860b1176d1.bindPopup(popup_02f375cda54f75205afb8f505e2700b4)
        ;

        
    
</script>
</html>