<!DOCTYPE html>
<html>
    <head>
        <title>Wheres Pharmacy</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/pharmacy_profile.css') }}">
    </head>
    <body>
        <h1 id="title">Pharmacy Profile</h1>
        <hr>
        
        <div id="icon-row-box" class="container centerbox">
            <div class="icon-row">
                <a href="#">
                    <img class="icons" src="{{ url_for('static', filename='images/bell.png') }}" alt="Notification">
                </a>
                <a href="#">
                    <img class="icons" src="{{ url_for('static', filename='images/tele.png') }}" alt="Contact">
                </a>
                <a href="#">
                    <img class="icons" src="{{ url_for('static', filename='images/msg.png') }}" alt="Message">
                </a>
            </div>
        </div>
          
        <div class="container">

            <a href="{{ url_for('views.sale_order_details') }}">
                <div class="row big-button">
                    <!--text-->
                    <div class="col text-container centerbox">
                        <p>Sales</p>
                    </div>
                    <!--image-->
                    <div class="col-7 image-container"><img class="button-image" src="{{ url_for('static', filename='images/sales2.png') }}" alt="sales"/></div>
                </div>
            </a>

            <a href="{{ url_for('views.pharmacy_inventory') }}">
                <div class="row big-button">
                    <!--text-->
                    <div class="col text-container centerbox">
                        <p>Manage Inventory</p>
                    </div>
                    <!--image-->
                    <div class="col-7 image-container"><img class="button-image" src="{{ url_for('static', filename='images/inventory.png') }}" alt="inventory"/></div>
                </div>
            </a>

        </div>
    </body>
</html>